<div class="input-group mb-3 mt-3 mb-3">
  <input [(ngModel)]="searchQuery" type="text" class="form-control col-md-6 ml-1" placeholder="Search for your dish"
    aria-label="Search for dish" aria-describedby="basic-addon2">
  <div class="input-group-append ml-3">
    <button class="btn btn-outline-primary rounded" (click)="submit($event)" type="button">Search</button>
  </div>
  <select class="browser-default custom-select col-md-2 ml-2" [(ngModel)]="filterOption" (change)=filterResults()>
    <option *ngFor="let i of healthLabelArray" value="health:{{i}}">Health: {{i}}</option>
  </select>
  <select class="browser-default custom-select col-md-2 ml-2" [(ngModel)]="filterOption" (change)=filterResults()>
    <option *ngFor="let i of dietLabelArray" value="diet:{{i}}">Diet: {{i}}</option>
  </select>
</div>



<div class="p-1">
  <ng-container *ngFor="let recipeDetail of searchResult">
    <div class="row d-inline-block" style="border-radius:5px;" *ngIf="recipeDetail.visible">
      <div class="card ml-5 mt-3" style="width: 16rem;" >
        <img src="{{recipeDetail.imageUrl}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{recipeDetail.recipeName}}</h5>
          <p class="card-text"></p>
          <a href="#" routerLink="details/{{recipeDetail.recipeName}}&{{recipeDetail.urlId}}"
            class="btn btn-success">Recipe Details</a>
        </div>
      </div>
    </div>
  </ng-container>
</div>